.Room {
    border: solid red 1px;
    width: 50%;
    height: 75%;
    /*padding: 10px;*/
    padding-top: 0px;
    margin: auto;
    display: block;
    /*overflow: show;*/
    min-height: 50%;
    min-width: 50%;
}

.Room h1 {
    text-transform:capitalize;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 13px;
    border-bottom: 1px solid red;
}